DATABASE_URL=postgresql://trackroster:trackroster@127.0.0.1:5433/trackroster
REDIS_URL=redis://127.0.0.1:6379
JWT_ACCESS_SECRET= 7bJXOEtKewtxNwS3ioJjaDccSsgbXMamUnO5e8/lX7Rj6ECn7SiqacdbsE4+QmpV
JWT_ACCESS_TTL=15m
JWT_REFRESH_SECRET=htkgJa9bfG8yd6TFlm6dujp/lZE8ErGH0jJZ/hxWBCjAXJC5whBIkohfzzoKzx7z
JWT_REFRESH_TTL=7d
DEV_ADMIN_PASSWORD=admin
NODE_ENV=development
